<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RdmSitesSOAPBinding" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="[RemoteMX web service address]"
                binding="basicHttpBinding" bindingConfiguration="RdmSitesSOAPBinding"
                contract="RemoteMXService.RdmSites" name="RdmSites" />
        </client>
    </system.serviceModel>
</configuration>