<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMeasurementsService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
          <!--Change this to correspond your domain address to MeasumentsService.svc
          [Example: http://MySami.Sami.fi/Service/1.0/MeasurementsService.svc]-->
          <endpoint address="[sami web service address here]"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMeasurementsService"
                contract="MeasurementsServiceV1.IMeasurementsService" name="WSHttpBinding_IMeasurementsService" />
        </client>
    </system.serviceModel>
</configuration>