<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--change this-->
    <add name="SavoniaMeasurementsV2Entities" connectionString="metadata=res://*/SavoniaMeasurementsDBModel.csdl|res://*/SavoniaMeasurementsDBModel.ssdl|res://*/SavoniaMeasurementsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[Your SQLServer\instance];initial catalog=[SAMIDB-name];integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--optional--><add key="ExceptionMailsRecipients" value="[emails where errors are send]" />
    <!--MUST-->    <add key="KeyEncryptionKey" value="[your encryptionkey here]" />
    <!--MUST-->    <add key="KeyDefaultSalt" value="[your salt here]" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!--Change these-->
      <smtp deliveryMethod="Network" from="[error mail sender]">
        <network host="[your mail host]" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMeasurementsService_Production" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMeasurementsService_Development" maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="RdmSitesSOAPBinding" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- development service in Savonia.Measurements.Services project-->
      <endpoint address="http://localhost:50240/MeasurementsService.svc"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMeasurementsService_Development"
              contract="MeasurementsService.IMeasurementsService" name="WSHttpBinding_IMeasurementsService">
          </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>