<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- settings for Savonia.Measurements.Providers.MeasurerService -->
    
    <add key="MeasurementsRepositoryConfig" value="" />
    <add key="PluginSettings" value="plugins\plugins.xml" />
    <add key="LocalStoreFolder" value="store" />
    <add key="LocalStorePurgeInterval" value="30" />
    <add key="LocalStorePurgeTake" value="20" />
    <add key="StopServiceWhenPluginProcessThrows" value="false" />

    <!-- Repositories settings -->
    
    <!-- settings for Savonia.Measurements.Providers.DatabaseRepository -->
    <!--Change the connectionstring if you use databaseRepository!-->
                     <add key="MeasurementsRepositoryDll" value="repository\Savonia.Measurements.Providers.DatabaseRepository.dll" />    
    <!--optional-->  <add key="MeasurementSaveParallelizationThreshold" value="100" />
    <!--optional-->  <add key="MeasurementSaveParallelizationThreadsCount" value="auto" />
    <!--MUST-->      <add key="KeyDefaultSalt" value="[your salt here]" />
    <!--MUST-->      <add key="KeyEncryptionKey" value="[your encryptionkey here]" />
    
    <!-- settings for Savonia.Measurements.Providers.WCFRepository -->
    <!--Change WCF client settings (uri to the service)-->
    <!--<add key="MeasurementsRepositoryDll" value="repository\Savonia.Measurements.Providers.WCFRepository.dll" />-->
    <!-- none -->
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins;repository" />
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="log\measurerservice.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <!-- settings for Savonia.Measurements.Providers.DatabaseRepository -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SavoniaMeasurementsV2Entities" connectionString="metadata=res://*/SavoniaMeasurementsDBModel.csdl|res://*/SavoniaMeasurementsDBModel.ssdl|res://*/SavoniaMeasurementsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[Your SQLServer\instance];initial catalog=[SAMIDB-name];integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- settings for Savonia.Measurements.Providers.WCFRepository -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMeasurementsService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
       <!--Change this--> 
     <endpoint address="[your service url]" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMeasurementsService" contract="MeasurementsServiceV1.IMeasurementsService" name="WSHttpBinding_IMeasurementsService" />
  </client>
  </system.serviceModel>
</configuration>