<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MeasurementSaveParallelizationThreshold" value="100" />
    <add key="MeasurementSaveParallelizationThreadsCount" value="auto" />

    <!--Change these values. Do NOT change the key!
    keys with Must should be changed, but keys with optional can be changed-->
    <!--KeyEncryptionKey and salt MUST BE THE SAME ON EVERY Web.config and app.config-->
    
    <!--MUST-->   <add key="KeyEncryptionKey" value="[your encryptionkey here]" />
    <!--MUST-->   <add key="KeyDefaultSalt" value="[your salt here]"/>
    <!--If exception mail recipients are not defined the error logger writes errors to trace log-->
    <!--OPTIONAL--><add key="ExceptionMailsRecipients" value="[emails where errors are send]" />

    <!--Example Values for keys
    <add key="ExceptionMailsRecipients" value="Email@domain.com,Email2@Domain.com" />
  -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <mailSettings>
      <!--Change these-->
      <smtp deliveryMethod="Network" from="[error mail sender]">
        <network host="[your mail host]" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--change this-->
    <add name="SavoniaMeasurementsV2Entities" connectionString="metadata=res://*/SavoniaMeasurementsDBModel.csdl|res://*/SavoniaMeasurementsDBModel.ssdl|res://*/SavoniaMeasurementsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[Your SQLServer\instance];initial catalog=[SAMIDB-name];integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <services>
      <service name="Savonia.Measurements.Services.MeasurementsService" behaviorConfiguration="MeasService">
        <endpoint address="" bindingNamespace="http://Savonia.MeasurementService/2014/2" binding="wsHttpBinding" bindingConfiguration="http" contract="Savonia.Measurements.Services.IMeasurementsService" />
        <endpoint address="json" bindingNamespace="http://Savonia.MeasurementService/2014/2" binding="webHttpBinding" bindingConfiguration="httpWeb" contract="Savonia.Measurements.Services.IMeasurementsService" behaviorConfiguration="webHttpBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="http" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="https" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="httpWeb" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="httpsWeb" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MeasService">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="Savonia.Web.ErrorReporter.ErrorReporterModule" name="ErrorReporterModule" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
